html
{
	background-color: black;
	color: lightgreen;
	font-family: Arial;
	text-align: center;
}
#mainbox
{
	width: 300px;
	height: 300px;
	border-style: solid;
	border-color: lightgreen;
	border-width: 4px;
	border-radius: 8px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}
.button
{
    background-color: black;
    border: 2px solid lightgreen;
    color: lightgreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
}