@font-face
{
	font-family: BebasNeue;
	src: url(BebasNeue-Regular.ttf);
}
body
{
	text-align: center;
	font-family: BebasNeue;
    background-color: #add8e6;
}
.icon
{
	position: relative;
}
.column {
    float: left;
    width: 50%;
    display: inline-block;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.descSpace
{
	width: 500px;
	height: 128px;
	border: 2px solid #000080;
	border-radius: 20px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.descTitle
{
	font-weight: bold;
	font-size: 26px;
}
.desc
{
	font-size: 20px;
}
.noteButton
{
	background-color: #ff91a4;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-weight: bold;
}
#octNum
{
	text-align: center;
	height: 30px;
	width: 70px;
	border-radius: 20px;
}
#noteCanvas
{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	border: 6px solid #ff91a4;
	display: inline-block;
}
#noteName
{
	font-size: 150px;
	position: relative;
	top: 100px;
	color: black;
}
#noteOctave
{
	font-size: 50px;
	position: relative;
	top: 100px;
	color: black;
}
.trainingButton
{
	background-color: #ff91a4;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-weight: bold;
    vertical-align: top;
}
#textThings
{
	font-size: 24px;
}
.testButton
{
	background-color: #ff91a4;
    border: 1.5px solid #000080;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-weight: bold;
    vertical-align: top;
}